certifi==2024.2.2
charset-normalizer==3.3.2
cvlib==0.2.7
idna==3.6
imageio==2.33.1
imutils==0.5.4
numpy==1.26.3
opencv-python==4.9.0.80
pillow==10.2.0
progressbar==2.5
requests==2.31.0
urllib3==2.2.0
